body {
  background: url(background.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}

main {
  margin-top: 75px;
}

.ui.menu {
  font-size: 1.5rem;
}

.edit-account {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-left: 25%;
  margin-right: 25%;
  height: 350px;
}

.edit-form {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.ui.comments .comment .text,
.ui.comments .comment .actions,
.ui.items > .item .meta {
  font-size: 1.25em;
}

.ui.comments .comment .metadata {
  font-size: 1.1em;
}

.landing-page {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 7%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 60px;
  font-family: "IBM Plex Serif", serif;
}

h1,
h2 {
  color: #2c3958;
  margin-bottom: 0px;
  margin-top: auto;
}

.book-box {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  align-items: center;
}

.search-form,
.booklist-form {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.div.fields.search-form,
.div.fields.booklist-form {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.search-header,
.booklist-actions {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-left: 25%;
  margin-right: 25%;
  height: 200px;
}

.person {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.ui.three.cards {
  margin-left: 2em;
  margin-right: 2em;
}

.ui.three.cards > .card {
  width: 300px;
  height: 500px;
  /* calc(33.33333333% - 2em); */
  /* margin-left: 1em;
  margin-right: 1em; */
}

.ui.raised.card {
  margin-top: 5%;
}

.ui.cards > .card {
  font-size: 1.5em;
}

.ui.middle.aligned.image {
  height: 25%;
}

img.ui.tiny.image {
  height: 120px;
  width: 120px;
  margin-bottom: 10px;
}

a.header.person-name {
  font-weight: bold;
}

div.image.prof-pic {
  height: 50%;
}

div.person.card-text {
  display: flex;
  align-items: flex-start;
}

div.content.person-info {
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

div.ui.blue.centered.raise.card.person {
  height: 300px;
  width: 200px;
}

.ui.card > .image:not(.ui) > img,
.ui.cards > .card > .image:not(.ui) > img {
  height: 100%;
}

.booklist-actions {
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 25%;
  margin-right: 25%;
}
