body {
  background: url(background.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}

main {
  margin-top: 75px;
}

.edit-account {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  height: 350px;
}

.edit-form {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.landing-page {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin-top: 7%;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.6);
  font-size: 45px;
  font-family: "Maven Pro", sans-serif;
}

h1,
h2 {
  color: #2c3958;
  margin-bottom: 0px;
  margin-top: auto;
}

.book-box {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  align-items: center;
}

.search-form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.person {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.ui.three.cards {
  margin-left: 2em;
  margin-right: 2em;
}

.ui.three.cards > .card {
  width: calc(33.33333333% - 2em);
  margin-left: 1em;
  margin-right: 1em;
}

.ui.raised.card {
  margin-top: 5%;
}

.ui.cards > .card {
  font-size: 1.5em;
}

.ui.middle.aligned.image {
  height: 25%;
}

.booklist-actions {
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 25%;
  margin-right: 25%;
}
